@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Anton", "Noto Sans KR", sans-serif;
}

.main-container {
  height: 100vh;
  scroll-snap-align: center;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-name {
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
  height: 7vh;
  line-height: 7vh;
  text-transform: uppercase;
}

#intro {
  background-color: yellow;
}

#about {
  background-color:  #1c7317;;
}

#skills {
  background-color: #F23A29;
}

#projects {
  background-color:#F2A007;
}

#contact {
  background-color: blueviolet;
}