@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Anton", "Noto Sans KR", sans-serif;
}

.main-container {
  height: 100vh;
  scroll-snap-align: center;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff5bf;
}

.main-name {
  font-size: 30px;
  font-weight: 700;
  height: 7vh;
  line-height: 7vh;
  text-transform: uppercase;
}

#intro {
  background-color: #fde55b;
}

@media (max-width: 767px) {
  #about,
  #skills,
  #projects {
    padding-bottom: 60px;
  }
  .header-btns {
    visibility: hidden;
  }
}
