@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Anton", "Noto Sans KR", sans-serif;
  background-color: #a72e11;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh;
  color: #fcfdf7;
  overflow: hidden;
}

.bright {
  background-color: #fcfdf7;
  color: #a72e11;
}

.main-container {
  height: 100vh;
  scroll-snap-align: center;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-name {
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
  height: 7vh;
  line-height: 7vh;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  #about,
  #skills,
  #projects {
    padding-bottom: 60px;
  }
  .header-btns {
    visibility: hidden;
  }
}
