.container {
  width: 80%;
  height: 80vh;
  margin-bottom: 5vh;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  label {
    font-size: 25px;
  }
}
