.firstBlock {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.firstBlock > h1 {
  font-size: 20px;
}

.firstBlock > h2 {
  font-size: 25px;
}

.firstBlock > h3 {
  font-size: 20px;
}

.secondBlock {
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-color: white;
  width: 80%;
  height: 50vh;
  border-radius: 25px;
}

.imgContainer {
  width: 350px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.imgContainer img {
  width: 100%;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.textListContainer {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.textItemContainer {
  width: 250px;
  height: 130px;
  background-color: pink;
  border-radius: 10px;
  padding: 10px 0px 10px 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.textItemContainer > svg {
  font-size: 40px;
}

.textContainer {
  width: 140px;
  font-size: 15px;
}

@media (max-width: 1600px) {
  .textItemContainer {
    width: 180px;
    height: 100px;
    padding: 20px;
  }
  .imgContainer {
    width: 250px;
    height: 350px;
  }
}

@media (max-width: 1300px) {
  .imgContainer {
    display: none;
  }
}

@media (max-width: 767px) {
  .firstBlock {
    height: 100%;
    padding: 50px 10px;
  }
  .firstBlock > h2 {
    font-size: 15px;
    width: 80%;
    margin: 15px 0 20px 0;
  }
  .firstBlock > h3 {
    font-size: 17px;
  }
  .secondBlock {
    height: 100%;
  }
  .contentContainer {
    flex-direction: column;
    gap: 0px;
    height: 100%;
  }
  .textListContainer {
    display: flex;
    margin: 20px 0;
    flex-direction: column;
    gap: 5px;
  }
  .textItemContainer {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 60px;
    background-color: white;
  }
}
